Source: libpst
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Carl Byington <carl@five-ten-sg.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 5),
		cdbs,
		libtool,
		autotools-dev,
		libfreetype6-dev,
		libgd2-xpm-dev,
		zlib1g-dev,
		libjpeg62-dev
Standards-Version: 3.8.0

Package: readpst
Priority: optional
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libpst1 (= ${binary:Version}),
	imagemagick
Description: Utilities to convert Outlook .pst files to other formats
 The readpst utilities include readpst which can convert email messages
 to both mbox and MH mailbox formats, pst2ldif which can convert the
 contacts to .ldif format for import into ldap databases, and pst2dii
 which can convert email messages to the DII load file format used by
 Summation. Requires the shared libray provided by libpst1.

Package: libpst1
Architecture: any
Priority: optional
Section: libs
Depends: ${shlibs:Depends},
	${misc:Depends}
Description: Shared library needed by the readpst utilities, and
 other programmes. The libpst shared library is required by the
 readpst utilities, and provides the necessary functions to manipulate
 the Outlook PST files.

Package: libpst-dev
Architecture: any
Priority: optional
Section: libdevel
Depends: libpst1 (= ${binary:Version}),
	${misc:Depends}
Description: development files needed for libpst1.
 Development files needed if coding or compiling programmes that use
 the libpst shared libray.
