#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

export DH_VERBOSE=1
DEB_CONFIGURE_EXTRA_FLAGS = --enable-libpst-shared
